//* Globals
@import 'globals/colors';
@import 'globals/container.scss';


//* Mixins
@import 'mixins/flex';

//* Layouts
@import 'layout/header';
@import 'layout/menu';
@import 'layout/footer';
@import 'layout/whatsapp';

//*components
@import 'components/hero';
@import 'components/services';
@import 'components/solution';
@import 'components/offer';
@import 'components/best';
@import 'components/domestic';
@import 'components/form';

//*thanks
@import 'components/thanks';

//*aviso-de-privacidad
@import 'components/aviso-de-privacidad';

@font-face {
	font-family:  Segoe-Regular;
	src: url('../fonts/Segoe-UI.ttf') format('truetype');
	font-display: swap;

  }

  @font-face {
	font-family:  Segoe-Bold;
	src: url('../fonts/Segoe-UI-Bold.ttf') format('truetype');
	font-display: swap;

  }


  
*{
	font-family: Segoe-Regular;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button{
	border: 0;
	outline: none;
	background-color: transparent;
	transition: 0.3s;
}

a{
	text-decoration: none;
	transition: 0.3s;
}

svg{
	width: 100%;
	height: 100%;
}



