.footer{
	width: 100%;
	background-color:$Shiraz;
	padding: 30px 0;
	position: absolute;

	@media(min-width:1199px){
		padding: 60px 0px 60px 0 ;
	}

	.container{
		@include flex-center-center;
		flex-direction: column;		

		@media(min-width: 992px){
			display: grid;
		grid-template-columns: repeat(3, 1fr);	
		}
	}

	&__logo{
		margin: auto;
		width: 150px;
		
		@media(min-width:1199px){
			width: 200px;
		}
	}

	&__text{
		@include flex-center-center;
		flex-direction: column;

		@media(min-width:1199px){
			@include flex-start-center;
			grid-column: 2 / 4;
		}
		
		h1{
			color: white;
			line-height:25px;
			font-size: 13px;
			font-weight: 300;
			text-align: center;
			line-height: 20px;
	
			@media(min-width:1199px){
				font-size: 15px;
				text-align: start;
	
			}
			}
	}


}