.header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
    background: transparent;
	display: flex;
   
      @media(min-width:1199px){
        padding: 0 30px;
		height: auto;
		background: transparent;
    }


	&--show{
		padding: 15px;
		top: 0;
		background: linear-gradient(90deg, $elephant); //#92d2
	}

	&--hide{
		background: rgba(255,255,255,0.8);
	}

	@media(min-width:1199px){
		height: auto;
	}

	&__mobile {
		width: 100%;
		height: 100%;
		display: block;

		@media(min-width: 1200px) {
			display: none;
		}

		.container {
			@include flex-center-between;
			height: 100%;
		}

		&__logo {
			width: 100px;
		}

		&__toggle {
			width: 43px;
			height: 43px;
			@include flex-center-center;
			cursor: pointer;
			background-color:$Shiraz;
			border: 1px solid transparent;
    		border-radius: 4px;
			padding: 13px 10px;

			&__bar {
				width: 100%;
				height: 2px;
				background-color: white;
				position: relative;
				transition: 0.3s;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: -8px;
					left: 0;
					background-color: white;
					transition: 0.3s;
				}

				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					bottom: -8px;
					left: 0;
					background-color: white;
					transition: 0.3s;
				}

			}

		}
		


	}

	&__desktop {
		width: 100%;
		height: auto;
		display: none;

		@media(min-width: 1200px) {
			display: block;
		}

		.container {
			@include flex-center-between;
			height: 100%;
			padding-top: 15px ;
			padding-bottom: 15px;
		}

		&__logo {
			width: 150px;
		}

        &__contact{
            @include flex-center-center;
            gap: 30px;

            &__item{
                @include flex-center-center;
                gap: 10px;

                &__icon{
                    width: 20px;

                    @media(min-width:1700px){
                        width: 30px;
                    }

                    svg{
                        width: 100%;
                    }
                }

                a.phone{
					color:$black;
                    font-size: 18px;
                    font-weight: 400;
                    padding: 10px 0px ;
                    transition: 0.3s;
					font-weight: bold;
        
                }  
            }
        }

	}

}
