.banner_privacidad{
  width: 100%;
  @include flex-center-center;
  flex-direction: column;
  background-image: url('../img/banner-aviso.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  padding: 60px 0;

  h2{
    background-color: rgba(0,0,0,0.5);
    padding: 30px;
    color: $white;
    font-size: 20px;
    text-align: center;
    font-family: Segoe-Bold;
    border-radius: 10px;

    @media(min-width:768px){
        font-size: 25px;
    }

    @media(min-width:1700px){
        font-size: 35px;
    }
  }   
}
.aviso {
  width: 100%;
  @include flex-center-center;
  flex-direction: column;
  margin: 30px 0;

  @media(min-width:1199px){
    margin: 60px ;
  }


    h2{
        color: $black;
        font-size: 20px;
        text-align: center;
        font-family: Segoe-Bold;

        @media(min-width:768px){
            font-size: 25px;
        }

        @media(min-width:1700px){
            font-size: 35px;
        }
    }

    p{
      padding-top: 15px;
      color: $black;
      font-size: 15px;

      @media(min-width: 1199px){
          font-size: 18px;
          padding-top: 20px;
      }
    }

}
