.hero{
    width: 100%;
	position: relative;
	height: auto;
    margin-top: 80px;
    @include flex-center-center;
    flex-direction: column;
    background-image: url('../img/ELECTROLUX3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;

    @media(min-width:1199px){
        background-image: url('../img/electrolux-banner-princ.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 120px 0;
    }


    &__text{
        width: 90%;
        background-color: $Meteorite;
        @include flex-center-center;
        flex-direction: column;
        padding: 20px;

        @media(min-width:1199px){ //*table
            @include flex-start-center;
            padding:20px 20px 20px 20%;
        }
        
        h1{
            color: $white;
            font-size: 25px;
            font-weight:bold;
            text-align: center;
            font-family: Segoe-Bold;
            line-height: 32px;

            @media(min-width:768px){ //*phone
                font-size: 45px;
                line-height:50px;
            }

            @media(min-width:1199px){ //*table
                text-align: start;
                font-size: 60px;
            }

            @media(min-width:1700px){//*Desktop
                line-height: 72px;
                font-size: 66px;
            }
        }

        span{
            font-size: 25px;
            font-weight:bold;
            text-align: center;
            font-family: Segoe-Bold;
            line-height: 32px;

            @media(min-width:768px){ //*phone
                font-size: 45px;
                line-height:50px;
            }

            @media(min-width:1199px){ //*table
                text-align: start;
                font-size: 60px;
            }

            @media(min-width:1700px){//*Desktop
                line-height: 72px;
                font-size: 66px;
            }
            
            color: $white;
        }

        p{
            padding-top: 25px;
            color: $white;
            font-size: 20px;
            text-align: center;
            line-height: 25px;
            
            @media(min-width:768px){
                font-size: 25px;
                line-height: 32px;
            }
            @media(min-width:1199px){ //*table
                text-align: start;
            }
        }

        &__button{
            width: 100%;
            @include flex-center-center;

            @media(min-width:1199px){
                @include flex-center-start;
            }

            a{
                width: 100%;
                border: 2px solid $Meteorite;
                margin-top: 30px;
                background-color:$white;
                font-family: Segoe-Bold;
                padding: 20px 30px ;
                color:$Meteorite;
                font-size: 15px;
                text-align: center;
                border-radius: 20px;

                @media(min-width:300px){
                    font-size: 16px;         
                }
    
                @media(min-width:768px){
                    font-size: 18px;
                    
                }
            }

            a:hover{
                background-color:$white ;
                color:$Meteorite;
                border: 2px solid $Meteorite;
            }
        }
    }

    &__imagen{
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        @include flex-center-start;
    }

} 