.services{
    width: 100%;
	position: relative;
	height: auto;
    padding: 30px 0 30px 0;

    @media(min-width:1199px){
        padding: 60px 0 60px 0;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;     
    }

    h1.title{
        color: $elephant;
        font-size: 20px;
        text-align: center;
        font-family: Segoe-Bold;
        padding-bottom: 15px;
        
        @media(min-width:768px){
            font-size: 25px;
        }

        @media(min-width:1199px){
            font-size: 30px;
            padding-bottom: 30px;
        }
        
        @media(min-width:1700px){
            font-size: 35px;
        }
    }

    p.subtitle{
        color: $elephant;
        font-size: 15px;
        text-align: center;

        @media(min-width: 1199px){
            font-size: 18px;  
        }
    }


    &__grid{
        padding-top: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;

        @media(min-width: 599px){
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            
        }
        
        @media(min-width: 1199px){
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            
        }

        &__item{
            @include flex-center-center;
            flex-direction: column;
            gap: 15px;

            &__imagen{
                max-height: 150px;
                margin: auto;

                @media(min-width: 768px){
                    height: 216px;
                    @include flex-center-center;
                    margin: 0;
                }
            }
        
            &__text{
                @include flex-center-center;
                flex-direction:column;
                gap: 15px;
    
                h1{
                    color: $elephant;
                    font-size: 20px;
                    text-align: center;
                    font-family: Segoe-Bold;
            
                    @media(min-width:1199px){
                        font-size: 25px;
                    }
    
                }
            }
        }
    }

    &__button{
        @include flex-center-center;

        @media(min-width:1199px){
            @include flex-center-end;
        }

        a{
            border: 2px solid $Shiraz;
            margin-top: 30px;
            background-color:$Shiraz;
            font-family: Segoe-Bold;
            font-weight: bold;
            padding: 15px;
            color:$white;
            text-align: center;

            @media(min-width:300px){
                font-size: 16px;         
            }

            @media(min-width:768px){
                padding: 15px 80px ;
                font-size: 18px;
                
            }

            @media(min-width:1199px){
                margin-top: 60px;
            }
 
        }

        a:hover{
            background-color:$white ;
            color: $Shiraz;
            border: 2px solid $Shiraz;
        }
    }

    

}