.solution{
    width: 100%;
	height: auto;
    padding: 30px 0;

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;

        @media(min-width: 1199px){
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
        }

    }
    
    h1.title{
        color: $Shiraz;
        font-size: 20px;
        text-align: center;
        font-family: Segoe-Bold;
        padding-bottom: 15px;
        
        @media(min-width:768px){
            font-size: 25px;
        }

        @media(min-width:1199px){
            font-size: 30px;
            padding-bottom: 30px;
        }
        
        @media(min-width:1700px){
            font-size: 35px;
        }
    }

    p.subtitle{
        color: $black;
        font-size: 15px;
        text-align: center;

        @media(min-width: 1199px){
            text-align: start;
            font-size: 18px;  
        }
    }


    &__imagen{
        margin: auto;
        width: 70%;

        @media(min-width: 1199px){
            width: 100%;
            height:auto;
        }

    }

    &__text{
        @include flex-center-center;
        flex-direction: column;
        padding: 0 15px;

        &__button{

            @include flex-center-center;
    
            @media(max-width:1199px){
                width: 90%;
                margin: auto;
            }
    
            a{
                border: 2px solid $Shiraz;
                margin-top: 15px;
                background-color:$Shiraz;
                font-family: Segoe-Bold;
                font-weight: bold;
                padding: 15px;
                color:$white;
                text-align: center;
    
                @media(min-width:300px){
                    font-size: 16px;         
                }
    
                @media(min-width:768px){
                    padding: 15px 80px ;
                    font-size: 18px;
                    
                }
    
                @media(min-width:1199px){
                    margin-top: 30px;
                }
     
            }
    
            a:hover{
                background-color:$white ;
                color: $Shiraz;
                border: 2px solid $Shiraz;
            }
        }
    }

}