$white:white;
$black:black;

//*Black
$baltic_sea:#4f4f4f;

//*red
$Shiraz:#A40033;

//*blue
$Meteorite:#32236F;
$Bluish_Purple:#6A49F2;
$Bluish_Purple_two:#5F3EEF;

//*eliminar
$elephant:#253596;
$science_blue:#203B77;
$water_blue:#1428A0;
$medium_electric_blue:#5D70D6;

$harp:#F6F6F6F6;


